.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.CardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ccc;
  width: 200px;
  height: 300px;
}

.Card img {
  flex: 1 1 0;
}

.Card h2 {
  color: blue;
}
