.card-container {
  margin: 10px;
  height: 150px;
  min-width: 100px;
  width: 10%;
  transition: background-color 0.75s ease-in;
  background-color: grey;
  border: 6px solid grey;
  border-radius: 25px;
  display: inline-block;
}
